name: Build, Push, and Deploy to Elastic Beanstalk

on:
  push:
    branches:
      - main

env:
  S3_BUCKET_NAME: ${{ secrets.S3_BUCKET_NAME }}
  CLOUDFRONT_DISTRIBUTION_ID: ${{ secrets.CLOUDFRONT_DISTRIBUTION_ID }}

  SLACK_BOT_TOKEN: ${{ secrets.SLACK_BOT_TOKEN }}
  DEPLOY_ALERT_CHANNEL: C07J1U691R6

  AWS_ROLE: ${{ secrets.AWS_ROLE }}
  AWS_REGION: 'ap-northeast-2'

  REGISTRY: "harbor.infra.svc.cluster.local"
  REPOSITORY: "tonynamy/ps-note/ps-note-client"

  SENTRY_RELEASE_AUTH_TOKEN: ${{ secrets.SENTRY_RELEASE_AUTH_TOKEN }}
  SENTRY_ORG: "kodori"
  SENTRY_PROJECT: "ps-note-client"

  HARBOR_USERNAME: ${{ secrets.HARBOR_USERNAME }}
  HARBOR_PASSWORD: ${{ secrets.HARBOR_PASSWORD }}

  NEXT_PUBLIC_CDN_URL: "https://ps-note-cdn.kodori.dev"
  NEXT_PUBLIC_FRONT_URL: "https://ps-note.kodori.dev"
  NEXT_PUBLIC_SERVER_URL: "https://ps-note-server.kodori.dev/api/v2"

  CLUSTER_URL: ${{ secrets.CLUSTER_URL }}
  CLUSTER_AUTHORITY_DATA: ${{ secrets.CLUSTER_AUTHORITY_DATA }}
  CLUSTER_TOKEN: ${{ secrets.CLUSTER_TOKEN }}
  CLUSTER_NAMESPACE: "ps-note"
  CLUSTER_DEPLOYMENT: "deployment/ps-note-client-deployment"
  CLUSTER_CONTAINER: "ps-note-client"

jobs:
  prepare:
    runs-on: kodori-dev-gha-runner-scale-set
    outputs:
      version_name: ${{ steps.get_sha.outputs.SHA }}
      slack_mention: ${{ steps.set-mention.outputs.MENTION }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 1

      - name: Get short SHA
        id: get_sha
        run: echo "SHA=$(git rev-parse --short HEAD)" >> "$GITHUB_OUTPUT"

      - name: Set MENTION based on triggering actor
        id: set-mention
        run: |
          if [[ "${{ github.actor }}" == "tonynamy" ]]; then
            echo "MENTION=<@U05G7MV9UAG>" >> "$GITHUB_OUTPUT"
          elif [[ "${{ github.actor }}" == "naya-h2" ]]; then
            echo "MENTION=<@U07BHTFBPB9>" >> "$GITHUB_OUTPUT"
          else
            echo "MENTION=<@U05G7MV9UAG> <@U07BHTFBPB9>" >> "$GITHUB_OUTPUT"
          fi

  build-and-push:
    needs: [prepare]
    runs-on: kodori-dev-gha-runner-scale-set

    permissions:
      contents: 'read'
      id-token: 'write'

    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 1

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ env.HARBOR_USERNAME }}
          password: ${{ env.HARBOR_PASSWORD }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          buildkitd-config-inline: |
            [registry."harbor.infra.svc.cluster.local"]
              ca=["/usr/local/share/ca-certificates/ca.crt"]

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ env.REPOSITORY }}
          tags: |
            ${{ needs.prepare.outputs.version_name }}
            latest
            batch

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: ">=20"
          cache: 'npm'
          cache-dependency-path: '**/package-lock.json'

      - name: Cache
        uses: actions/cache@v4
        with:
          # See here for caching with `yarn` https://github.com/actions/cache/blob/main/examples.md#node---yarn or you can leverage caching with actions/setup-node https://github.com/actions/setup-node
          path: |
            ~/.npm
            ${{ github.workspace }}/.next/cache
          # Generate a new cache whenever packages or source files change.
          key: ${{ runner.os }}-nextjs-${{ hashFiles('**/package-lock.json') }}-${{ hashFiles('**/*.js', '**/*.jsx', '**/*.ts', '**/*.tsx') }}
          # If source files changed but packages didn't, rebuild from a prior cache.
          restore-keys: |
            ${{ runner.os }}-nextjs-${{ hashFiles('**/package-lock.json') }}-

      - name: Install Dependencies
        run: npm install

      - name: Create Sentry release
        continue-on-error: true
        uses: getsentry/action-release@v3
        env:
          SENTRY_AUTH_TOKEN: ${{ env.SENTRY_RELEASE_AUTH_TOKEN }}
          SENTRY_ORG: ${{ env.SENTRY_ORG }}
          SENTRY_PROJECT: ${{ env.SENTRY_PROJECT }}
        with:
          environment: production
          version: ${{ needs.prepare.outputs.version_name }}

      - name: Run Build
        env:
          CI: false
          NODE_ENV: production
          NEXT_PUBLIC_RELEASE: ${{ needs.prepare.outputs.version_name }}
          NEXT_TELEMETRY_DISABLED: 1
          SENTRY_AUTH_TOKEN: ${{ env.SENTRY_RELEASE_AUTH_TOKEN }}

          NEXT_PUBLIC_CDN_URL: ${{ env.NEXT_PUBLIC_CDN_URL }}
          NEXT_PUBLIC_FRONT_URL: ${{ env.NEXT_PUBLIC_FRONT_URL }}
          NEXT_PUBLIC_SERVER_URL: ${{ env.NEXT_PUBLIC_SERVER_URL }}
        run: |
          npm run build

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          file: docker/Dockerfile
          push: true
          platforms: |
            linux/amd64
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=registry,ref=${{ env.REGISTRY }}/${{ env.REPOSITORY }}:cache
          cache-to: type=registry,mode=max,image-manifest=true,oci-mediatypes=true,ref=${{ env.REGISTRY }}/${{ env.REPOSITORY }}:cache

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-region: ${{ env.AWS_REGION }}
          role-to-assume: ${{ env.AWS_ROLE }}

      - name: Install AWS CLI
        run: |
          curl "https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip" -o "/tmp/awscliv2.zip"
          unzip -q /tmp/awscliv2.zip -d /tmp
          sudo /tmp/aws/install --update
          rm -rf /tmp/aws/ /tmp/awscliv2.zip
          
      - name: Verify AWS CLI version
        run: aws --version

      - name: Upload to S3
        run: |
          aws s3 sync --metadata RELEASE="${{ needs.prepare.outputs.version_name }}" ./.next/static s3://${{ env.S3_BUCKET_NAME }}/_next/static

  deploy:
    needs: [prepare, build-and-push]
    runs-on: kodori-dev-gha-runner-scale-set

    permissions:
      contents: read
      id-token: write

    steps:
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-region: ${{ env.AWS_REGION }}
          role-to-assume: ${{ env.AWS_ROLE }}
          
      - name: Install AWS CLI
        run: |
          curl "https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip" -o "/tmp/awscliv2.zip"
          unzip -q /tmp/awscliv2.zip -d /tmp
          sudo /tmp/aws/install --update
          rm -rf /tmp/aws/ /tmp/awscliv2.zip
          
      - name: Verify AWS CLI version
        run: aws --version

      - name: CloudFront Invalidation
        run: |
          aws cloudfront create-invalidation --distribution-id ${{ env.CLOUDFRONT_DISTRIBUTION_ID }} --paths '/*'

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ env.REPOSITORY }}
          tags: |
            ${{ needs.prepare.outputs.version_name }}
            latest
            batch

      - name: Setup kubeconfig
        shell: bash
        run: |
          mkdir -p ~/.kube
          touch ~/.kube/config
          cat > ~/.kube/config << EOF
          apiVersion: v1
          clusters:
          - cluster:
              server: ${{ env.CLUSTER_URL }}
              certificate-authority-data: ${{ env.CLUSTER_AUTHORITY_DATA }}
            name: tonynamy-cluster
          contexts:
          - context:
              cluster: tonynamy-cluster
              user: github-deploy-user
              namespace: ${{ env.CLUSTER_NAMESPACE }}
            name: default-context
          current-context: default-context
          kind: Config
          preferences: {}
          users:
          - name: github-deploy-user
            user:
              token: ${{ env.CLUSTER_TOKEN }}
          EOF

      - name: Install kubectl
        run: |
          apt-get update
          apt-get install -y curl coreutils
          curl -LO https://dl.k8s.io/release/v1.33.5/bin/linux/amd64/kubectl
          curl -LO "https://dl.k8s.io/v1.33.5/bin/linux/amd64/kubectl.sha256"
          echo "$(cat kubectl.sha256)  kubectl" | sha256sum --check
          install -o root -g root -m 0755 kubectl /usr/local/bin/kubectl
          kubectl version --client

      - name: Deploy to K8S
        run: |
          kubectl set image --namespace ${{ env.CLUSTER_NAMESPACE }} ${{ env.CLUSTER_DEPLOYMENT }} ${{ env.CLUSTER_CONTAINER }}=${{ steps.extract-tag.outputs.TAG }}

      - name: Verify Deployment Status
        run: |
          kubectl rollout status --namespace ${{ env.CLUSTER_NAMESPACE }} --timeout 10m ${{ env.CLUSTER_DEPLOYMENT }}

  notify-start:
    needs: [prepare]
    runs-on: kodori-dev-gha-runner-scale-set
    outputs:
      thread_ts: ${{ steps.send_start_notification.outputs.ts }}

    steps:
      - name: Send start notification
        id: send_start_notification
        uses: slackapi/slack-github-action@v1.26.0
        env:
          SLACK_BOT_TOKEN: ${{ env.SLACK_BOT_TOKEN }}
        with:
          channel-id: ${{ env.DEPLOY_ALERT_CHANNEL }}
          payload: |
            {
              "blocks": [
                {
                  "type": "section",
                  "text": {
                    "type": "mrkdwn",
                    "text": ":rocket: <https://github.com/${{ github.repository }}|${{ github.repository }}> `${{ needs.prepare.outputs.version_name }}` 버전 배포를 시작합니다 (<${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}|링크>)\n:loading: 빌드\n:loading: 배포"
                  }
                }
              ]
            }

      - name: Notify Trigger User
        uses: slackapi/slack-github-action@v1.26.0
        env:
          SLACK_BOT_TOKEN: ${{ env.SLACK_BOT_TOKEN }}
        with:
          channel-id: ${{ env.DEPLOY_ALERT_CHANNEL }}
          payload: |
            {
              "thread_ts": "${{ steps.send_start_notification.outputs.ts }}",
              "blocks": [
                {
                  "type": "section",
                  "text": {
                    "type": "mrkdwn",
                    "text": "> 배포 책임자 : ${{ needs.prepare.outputs.slack_mention }}"
                  }
                }
              ]
            }

  notify-build-and-push-result:
    needs: [prepare, notify-start, build-and-push]
    if: ${{ always() }}

    runs-on: kodori-dev-gha-runner-scale-set

    steps:
      - name: Set Emoji
        id: set-emoji
        run: |
          if [[ "${{ needs.build-and-push.result }}" == "cancelled" ]]; then
            echo "EMOJI=:no_entry_sign:" >> "$GITHUB_OUTPUT"
          elif [[ "${{ needs.build-and-push.result }}" == "failure" ]]; then
            echo "EMOJI=:x:" >> "$GITHUB_OUTPUT"
          else
            echo "EMOJI=:white_check_mark:" >> "$GITHUB_OUTPUT"
          fi

      - name: Set Message
        id: set-message
        run: |
          if [[ "${{ needs.build-and-push.result }}" == "cancelled" ]]; then
            echo "MESSAGE=빌드가 취소되었습니다" >> "$GITHUB_OUTPUT"
          elif [[ "${{ needs.build-and-push.result }}" == "failure" ]]; then
            echo "MESSAGE=빌드에 실패했습니다" >> "$GITHUB_OUTPUT"
          else
            echo "MESSAGE=빌드가 성공했습니다" >> "$GITHUB_OUTPUT"
          fi

      - name: Notify Overall Result if Failed
        if: ${{ needs.build-and-push.result == 'cancelled' || needs.build-and-push.result == 'failure' }}
        uses: slackapi/slack-github-action@v1.26.0
        env:
          SLACK_BOT_TOKEN: ${{ env.SLACK_BOT_TOKEN }}
        with:
          channel-id: ${{ env.DEPLOY_ALERT_CHANNEL }}
          update-ts: ${{ needs.notify-start.outputs.thread_ts }}
          payload: |
            {
              "unfurl_links": false,
              "blocks": [
                {
                  "type": "section",
                  "text": {
                    "type": "mrkdwn",
                    "text": ":rocket: <https://github.com/${{ github.repository }}|${{ github.repository }}> `${{ needs.prepare.outputs.version_name }}` 버전 배포를 시작합니다 (<${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}|링크>)\n${{ steps.set-emoji.outputs.EMOJI }} 빌드\n:no_entry_sign: 배포"
                  }
                }
              ]
            }

      - name: Notify Overall Result if Succeeded
        if: ${{ needs.build-and-push.result == 'success' }}
        uses: slackapi/slack-github-action@v1.26.0
        env:
          SLACK_BOT_TOKEN: ${{ env.SLACK_BOT_TOKEN }}
        with:
          channel-id: ${{ env.DEPLOY_ALERT_CHANNEL }}
          update-ts: ${{ needs.notify-start.outputs.thread_ts }}
          payload: |
            {
              "unfurl_links": false,
              "blocks": [
                {
                  "type": "section",
                  "text": {
                    "type": "mrkdwn",
                    "text": ":rocket: <https://github.com/${{ github.repository }}|${{ github.repository }}> `${{ needs.prepare.outputs.version_name }}` 버전 배포를 시작합니다 (<${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}|링크>)\n${{ steps.set-emoji.outputs.EMOJI }} 빌드\n:loading: 배포"
                  }
                }
              ]
            }

      - name: Notify failed
        if: ${{ needs.build-and-push.result == 'cancelled' || needs.build-and-push.result == 'failure' }}
        uses: slackapi/slack-github-action@v1.26.0
        env:
          SLACK_BOT_TOKEN: ${{ env.SLACK_BOT_TOKEN }}
        with:
          channel-id: ${{ env.DEPLOY_ALERT_CHANNEL }}
          payload: |
            {
              "thread_ts": "${{ needs.notify-start.outputs.thread_ts }}",
              "unfurl_links": false,
              "blocks": [
                {
                  "type": "section",
                  "text": {
                    "type": "mrkdwn",
                    "text": "${{ steps.set-emoji.outputs.EMOJI }} <https://github.com/${{ github.repository }}|${{ github.repository }}> `${{ needs.prepare.outputs.version_name }}` ${{ steps.set-message.outputs.MESSAGE }}"
                  }
                }
              ]
            }

      - name: Notify Succeeded
        if: ${{ needs.build-and-push.result == 'success' }}
        uses: slackapi/slack-github-action@v1.26.0
        env:
          SLACK_BOT_TOKEN: ${{ env.SLACK_BOT_TOKEN }}
        with:
          channel-id: ${{ env.DEPLOY_ALERT_CHANNEL }}
          payload: |
            {
              "thread_ts": "${{ needs.notify-start.outputs.thread_ts }}",
              "unfurl_links": false,
              "blocks": [
                {
                  "type": "section",
                  "text": {
                    "type": "mrkdwn",
                    "text": "${{ steps.set-emoji.outputs.EMOJI }} <https://github.com/${{ github.repository }}|${{ github.repository }}> `${{ needs.prepare.outputs.version_name }}` ${{ steps.set-message.outputs.MESSAGE }}"
                  }
                }
              ]
            }

  notify-deploy-result:
    needs: [prepare, notify-start, build-and-push, deploy]
    if: ${{ always() && needs.build-and-push.result == 'success' && needs.deploy.result != 'skipped'  }}

    runs-on: kodori-dev-gha-runner-scale-set

    steps:
      - name: Set Emoji
        id: set-emoji
        run: |
          if [[ "${{ needs.deploy.result }}" == "cancelled" ]]; then
            echo "EMOJI=:no_entry_sign:" >> "$GITHUB_OUTPUT"
          elif [[ "${{ needs.deploy.result }}" == "failure" ]]; then
            echo "EMOJI=:x:" >> "$GITHUB_OUTPUT"
          else
            echo "EMOJI=:rocket:" >> "$GITHUB_OUTPUT"
          fi

      - name: Set Message
        id: set-message
        run: |
          if [[ "${{ needs.deploy.result }}" == "cancelled" ]]; then
            echo "MESSAGE=배포가 취소되었습니다" >> "$GITHUB_OUTPUT"
          elif [[ "${{ needs.deploy.result }}" == "failure" ]]; then
            echo "MESSAGE=배포에 실패했습니다" >> "$GITHUB_OUTPUT"
          else
            echo "MESSAGE=배포 준비가 완료되었습니다. 서버 레포 배포 트리거가 자동으로 이루어지니 확인해주세요." >> "$GITHUB_OUTPUT"
          fi

      - name: Notify Overall Result
        uses: slackapi/slack-github-action@v1.26.0
        env:
          SLACK_BOT_TOKEN: ${{ env.SLACK_BOT_TOKEN }}
        with:
          channel-id: ${{ env.DEPLOY_ALERT_CHANNEL }}
          update-ts: ${{ needs.notify-start.outputs.thread_ts }}
          payload: |
            {
              "unfurl_links": false,
              "blocks": [
                {
                  "type": "section",
                  "text": {
                    "type": "mrkdwn",
                    "text": ":rocket: <https://github.com/${{ github.repository }}|${{ github.repository }}> `${{ needs.prepare.outputs.version_name }}` 버전 배포를 시작합니다 (<${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}|링크>)\n:white_check_mark: 빌드\n${{ steps.set-emoji.outputs.EMOJI }} 배포"
                  }
                }
              ]
            }

      - name: Notify failed
        if: ${{ needs.deploy.result == 'cancelled' || needs.deploy.result == 'failure' }}
        uses: slackapi/slack-github-action@v1.26.0
        env:
          SLACK_BOT_TOKEN: ${{ env.SLACK_BOT_TOKEN }}
        with:
          channel-id: ${{ env.DEPLOY_ALERT_CHANNEL }}
          payload: |
            {
              "thread_ts": "${{ needs.notify-start.outputs.thread_ts }}",
              "unfurl_links": false,
              "blocks": [
                {
                  "type": "section",
                  "text": {
                    "type": "mrkdwn",
                    "text": "${{ steps.set-emoji.outputs.EMOJI }} <https://github.com/${{ github.repository }}|${{ github.repository }}> `${{ needs.prepare.outputs.version_name }}` ${{ steps.set-message.outputs.MESSAGE }}"
                  }
                }
              ]
            }

      - name: Notify Succeeded
        if: ${{ needs.deploy.result == 'success' }}
        uses: slackapi/slack-github-action@v1.26.0
        env:
          SLACK_BOT_TOKEN: ${{ env.SLACK_BOT_TOKEN }}
        with:
          channel-id: ${{ env.DEPLOY_ALERT_CHANNEL }}
          payload: |
            {
              "thread_ts": "${{ needs.notify-start.outputs.thread_ts }}",
              "unfurl_links": false,
              "blocks": [
                {
                  "type": "section",
                  "text": {
                    "type": "mrkdwn",
                    "text": "${{ steps.set-emoji.outputs.EMOJI }} <https://github.com/${{ github.repository }}|${{ github.repository }}> `${{ needs.prepare.outputs.version_name }}` ${{ steps.set-message.outputs.MESSAGE }}"
                  }
                }
              ]
            }
